In [1]:
import pandas as pd
file_path = "C:/Users/Thanos/Documents/MEGA/MEGAsync/Github/Data Cleaning/glassdoor_jobs.csv"
df = pd.read_csv(file_path)
df = df.drop(columns = {'Job Description','Unnamed: 0'})
df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [2]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Rating', 'Company Name', 'Location',
       'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Competitors'],
      dtype='object')

Company Name Column Filtering

In [3]:
df['Company Name']

0                          Tecolote Research\n3.8
1      University of Maryland Medical System\n3.4
2                                    KnowBe4\n4.8
3                                       PNNL\n3.8
4                         Affinity Solutions\n2.9
                          ...
951                               Eventbrite\n4.4
952           Software Engineering Institute\n2.6
953                             Numeric, LLC\n3.2
954                                     IGNW\n4.8
955             Riverside Research Institute\n3.6
Name: Company Name, Length: 956, dtype: object

Remove numbers in Company Name column

In [4]:
df['Company Text'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-4],axis =1)
df['Company Text']

0                          Tecolote Research
1      University of Maryland Medical System
2                                    KnowBe4
3                                       PNNL
4                         Affinity Solutions
                       ...
951                               Eventbrite
952           Software Engineering Institute
953                             Numeric, LLC
954                                     IGNW
955             Riverside Research Institute
Name: Company Text, Length: 956, dtype: object

Location Column Filtering

In [5]:
df['Location_upd'] = df['Location'].str.split(',', expand=True)[0]
df['Location_upd']

0      Albuquerque
1        Linthicum
2       Clearwater
3         Richland
4         New York
          ...
951      Nashville
952     Pittsburgh
953      Allentown
954         Austin
955    Beavercreek
Name: Location_upd, Length: 956, dtype: object

In [6]:
df['State'] = df['Location'].str.split(',', expand=True)[1]
df['State']

0       NM
1       MD
2       FL
3       WA
4       NY
      ...
951     TN
952     PA
953     PA
954     TX
955     OH
Name: State, Length: 956, dtype: object

Fix Los Angeles!

In [7]:
df['State'][145]

' Los Angeles'

In [8]:
df['State'] = df['State'].replace(' Los Angeles','CA')
df['State'][145]

'CA'

Calculate age of each company

In [9]:
df['Age of Company'] = df['Founded'].apply(lambda x: 2021 - x if x!= -1 else x)
df['Age of Company']

0      48
1      37
2      11
3      56
4      23
       ..
951    15
952    37
953    -1
954     6
955    54
Name: Age of Company, Length: 956, dtype: int64

Salary Estimate Column Filtering

1.Remove (Glassdoor est.) in Salary Estimate Column

In [10]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
df['Salary Estimate']

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
954             -1
955    $61K-$126K
Name: Salary Estimate, Length: 956, dtype: object

2.Delete Entire Rows with -1 in Salary Estimate Column

In [11]:
df = df[df['Salary Estimate'] != '-1']

3.Replace K and $ with blank space in Salary Estimate Column

In [12]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.replace('K','').replace('$',''))
df['Salary Estimate']

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [13]:
df['Min Salary'] = df['Salary Estimate'].apply(lambda x: x.split('-')[0])
df['Min Salary']

0      53
1      63
2      80
3      56
4      86
       ..
950    58
951    72
952    56
953    95
955    61
Name: Min Salary, Length: 742, dtype: object

In [14]:
df['Max Salary'] = df['Salary Estimate'].apply(lambda x: x.split('-')[1])
df['Max Salary']

0       91
1      112
2       90
3       97
4      143
       ...
950    111
951    133
952     91
953    160
955    126
Name: Max Salary, Length: 742, dtype: object

In [15]:
df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Company Text,Location_upd,State,Age of Company,Min Salary,Max Salary
0,Data Scientist,53-91,3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Tecolote Research,Albuquerque,NM,48,53,91
1,Healthcare Data Scientist,63-112,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,University of Maryland Medical System,Linthicum,MD,37,63,112
2,Data Scientist,80-90,4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,KnowBe4,Clearwater,FL,11,80,90
3,Data Scientist,56-97,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",PNNL,Richland,WA,56,56,97
4,Data Scientist,86-143,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Affinity Solutions,New York,NY,23,86,143

Check if Location values are the same with Headquarters values

In [16]:
df['LocEqualHead'] = df.apply(lambda x: 1 if x['Location_upd'] == x['Headquarters'].split(',')[0] else 0, axis=1)
df['LocEqualHead']

0      0
1      0
2      1
3      1
4      1
      ..
950    0
951    0
952    1
953    0
955    0
Name: LocEqualHead, Length: 742, dtype: int64

Store final dataframe to a new .csv file

In [17]:
df.to_csv('salary_data_clean.csv',index=False)

In [18]:
df['State'].value_counts()

 CA    151
 MA    103
 NY     72
 VA     41
 IL     40
 MD     35
 PA     33
 TX     28
 NC     21
 WA     21
 NJ     17
 FL     16
 OH     14
 TN     13
 DC     11
 CO     11
 IN     10
 UT     10
 WI     10
 MO      9
 AZ      9
 AL      8
 GA      6
 MI      6
 DE      6
 KY      6
 CT      5
 IA      5
 NE      4
 LA      4
 OR      4
 NM      3
 KS      3
 ID      2
 MN      2
 RI      1
 SC      1
CA       1
Name: State, dtype: int64

More Work in Progress